<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zeitlings.ollama</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08CD3A9B-E5F0-4F09-8B16-BF8E6706F3E9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4B9971-0A0C-41A2-BB53-83A4D210134D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0CF96764-912B-459F-A35F-D34F279EBC2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A208A99-2801-453C-A16D-C36894B378D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>177AC84D-FD49-40B5-A3B0-451887A21EA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08CD3A9B-E5F0-4F09-8B16-BF8E6706F3E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E23B15B5-57BF-4670-BD8E-B23FAA38768C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1D9DCD60-2505-442D-9CAA-76E468676B67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>25974AD9-E0AB-486C-AEAD-D67EE9FD2D52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B94AA8F-BA22-455B-AA06-6F30F453B8A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4B35AFE-480B-4AF6-8EB0-D103EC4FCA7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A208A99-2801-453C-A16D-C36894B378D1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0B1BBCDA-9820-4ACE-A058-AAE0624D0D3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7CE53231-C334-448E-AC34-33DCB2DBA5B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EBB4EE5-517C-41B1-B56A-38C1015156B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D1D7989-523F-45CA-A25E-CBFDA2471974</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E29321E4-9F9B-4728-A7E7-95BF3A410E75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8058801E-523E-4EC8-9951-A04EF5ADE061</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CEEB23FD-3552-498B-99AF-90776CAF0C05</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>00AE4221-75F3-4492-8AE8-8B05CAFAAE62</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D1D7989-523F-45CA-A25E-CBFDA2471974</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>657C03C5-5F3A-424D-AEC1-A74A87CF40F8</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7CE53231-C334-448E-AC34-33DCB2DBA5B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>FBB355BD-7113-470C-A6EE-9D29E3E8B311</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E06C9018-0F20-4D97-8727-01B8C353E562</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>DA714EAB-55F1-4366-BA68-79524AC093B7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E1A4CCE8-E134-44A3-B097-917005741A24</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>62DA9489-8F26-4E0E-BA6C-E35293F58CF7</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E64D5D9E-6D00-4763-BB53-AB84F42CD78E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>761A1181-4527-4E46-9BA6-411106C8C46E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1D9DCD60-2505-442D-9CAA-76E468676B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3F0358E-1DE7-4F3D-AA9C-7DDDC2DA6EA2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0CF96764-912B-459F-A35F-D34F279EBC2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63BED437-9333-48B4-9169-F4079D9CC9DC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8CD2D79F-5B38-4D5F-9898-6D6EF63CCD48</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EB91DCF-DB20-4DAC-9793-00D281261D7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9763AA08-95C1-44A1-8333-FDC07FBE1594</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A19BD909-5D69-4EFF-BBD4-53C420953E20</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AA6EDEAA-7030-46E1-B9B6-516DB0DB0EB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FF4B9971-0A0C-41A2-BB53-83A4D210134D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C1318AE2-21C9-4DD9-BC02-034517E4412D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CD2D79F-5B38-4D5F-9898-6D6EF63CCD48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CEEB23FD-3552-498B-99AF-90776CAF0C05</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1318AE2-21C9-4DD9-BC02-034517E4412D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4B35AFE-480B-4AF6-8EB0-D103EC4FCA7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8058801E-523E-4EC8-9951-A04EF5ADE061</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4B3A07F-B949-44A7-8A76-9D7A3B10A224</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4B35AFE-480B-4AF6-8EB0-D103EC4FCA7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E06C9018-0F20-4D97-8727-01B8C353E562</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9763AA08-95C1-44A1-8333-FDC07FBE1594</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AA6EDEAA-7030-46E1-B9B6-516DB0DB0EB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E1A4CCE8-E134-44A3-B097-917005741A24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AA6EDEAA-7030-46E1-B9B6-516DB0DB0EB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E64D5D9E-6D00-4763-BB53-AB84F42CD78E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>177AC84D-FD49-40B5-A3B0-451887A21EA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Sy</string>
	<key>description</key>
	<string>Dehydrated Ollama CLI Interface</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Ollama</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>1EB91DCF-DB20-4DAC-9793-00D281261D7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># ollama serve &amp;
open $(mdfind kMDItemCFBundleIdentifier = "com.electron.ollama")</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1318AE2-21C9-4DD9-BC02-034517E4412D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>CEEB23FD-3552-498B-99AF-90776CAF0C05</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.5</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>8CD2D79F-5B38-4D5F-9898-6D6EF63CCD48</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e 'quit app "Ollama"'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E29321E4-9F9B-4728-A7E7-95BF3A410E75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7D1D7989-523F-45CA-A25E-CBFDA2471974</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4EBB4EE5-517C-41B1-B56A-38C1015156B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>7CE53231-C334-448E-AC34-33DCB2DBA5B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>31</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>O</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D4B3A07F-B949-44A7-8A76-9D7A3B10A224</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>~ {var:pulled_model}</string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A19BD909-5D69-4EFF-BBD4-53C420953E20</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly cache="$alfred_workflow_cache"
readonly log_file="${cache}/pull_progress.txt"
readonly info_file="${cache}/pull_info.txt"
readonly canceled_file="${cache}/pull_canceled.txt"

echo -n "$1" &gt; "$info_file"

# ollama pull "$1" &amp;&gt; &gt;(tee "$log_file" &gt; /dev/null) &amp;
ollama pull "$1" &amp;&gt; "$log_file" &amp; 

# # Not the PID of the actual pull process.
# # We cannot use it to cancel the download
# # but to confirm that it is still running.
pid=$!

while ps -p $pid &gt; /dev/null; do
	sleep 1
done

# # End the process if it is still lingering.
if ps -p $pid &gt; /dev/null; then
	# kill $pid
	killall ollama
fi

/bin/rm $log_file
/bin/rm $info_file

if [[ -f $canceled_file ]]; then
	/bin/rm $canceled_file
	echo -n "Download Canceled"

else
	echo -n "Download Complete"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9763AA08-95C1-44A1-8333-FDC07FBE1594</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>pulled_model</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E06C9018-0F20-4D97-8727-01B8C353E562</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>start</string>
						<key>outputlabel</key>
						<string>Start Ollama</string>
						<key>uid</key>
						<string>00AE4221-75F3-4492-8AE8-8B05CAFAAE62</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>stop</string>
						<key>outputlabel</key>
						<string>Quit Ollama</string>
						<key>uid</key>
						<string>657C03C5-5F3A-424D-AEC1-A74A87CF40F8</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>open</string>
						<key>outputlabel</key>
						<string>Open External</string>
						<key>uid</key>
						<string>FBB355BD-7113-470C-A6EE-9D29E3E8B311</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>pull</string>
						<key>outputlabel</key>
						<string>Pull Model</string>
						<key>uid</key>
						<string>DA714EAB-55F1-4366-BA68-79524AC093B7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>init</string>
						<key>outputlabel</key>
						<string>Loop ←</string>
						<key>uid</key>
						<string>62DA9489-8F26-4E0E-BA6C-E35293F58CF7</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>remove</string>
						<key>outputlabel</key>
						<string>Remove Model</string>
						<key>uid</key>
						<string>761A1181-4527-4E46-9BA6-411106C8C46E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>cancel</string>
						<key>outputlabel</key>
						<string>Cancel Pull</string>
						<key>uid</key>
						<string>F3F0358E-1DE7-4F3D-AA9C-7DDDC2DA6EA2</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:trigger}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>unload</string>
						<key>outputlabel</key>
						<string>Unload Model</string>
						<key>uid</key>
						<string>63BED437-9333-48B4-9169-F4079D9CC9DC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>8058801E-523E-4EC8-9951-A04EF5ADE061</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>init</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>6B94AA8F-BA22-455B-AA06-6F30F453B8A5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:key}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ollama.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Ollama CLI Interface</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D4B35AFE-480B-4AF6-8EB0-D103EC4FCA7B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FF4B9971-0A0C-41A2-BB53-83A4D210134D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E1A4CCE8-E134-44A3-B097-917005741A24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>AA6EDEAA-7030-46E1-B9B6-516DB0DB0EB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>/ </string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>08CD3A9B-E5F0-4F09-8B16-BF8E6706F3E9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ollama rm "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>177AC84D-FD49-40B5-A3B0-451887A21EA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Ollama</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E23B15B5-57BF-4670-BD8E-B23FAA38768C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>E64D5D9E-6D00-4763-BB53-AB84F42CD78E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>readonly canceled_file="${alfred_workflow_cache}/pull_canceled.txt"

echo "1" &gt; "$canceled_file"
killall ollama</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>25974AD9-E0AB-486C-AEAD-D67EE9FD2D52</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>1D9DCD60-2505-442D-9CAA-76E468676B67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>init</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>0B1BBCDA-9820-4ACE-A058-AAE0624D0D3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>curl -s http://localhost:${port}/api/generate -d "{\"model\": \"$1\", \"keep_alive\": 0}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A208A99-2801-453C-A16D-C36894B378D1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0CF96764-912B-459F-A35F-D34F279EBC2E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>![](icon.png)

# Ollama.

Dehydrated Ollama Command Line Interface interface to manage local LLMs.

## Usage

Access Ollama with the keyword (default: `ollama`) or define a keyboard shortcut.

![Ollama workflow entry](images/preview1.png)

- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to start or quit Ollama .

### Local Models

![Ollama installed models](images/preview2.png)

- &lt;kbd&gt;↩&lt;/kbd&gt; to open the model page.
- &lt;kbd&gt;⇧&lt;/kbd&gt; to quicklook preview the model page.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;C&lt;/kbd&gt; to copy the model name.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to remove the model.

### Loaded Models

![Ollama installed models](images/preview3.png)

- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to unload the model.

### New Models

![Ollama new models](images/preview4.png)

Type to match models based on your query.  
- &lt;kbd&gt;↩&lt;/kbd&gt; to open the model page.
- &lt;kbd&gt;⇧&lt;/kbd&gt; to quicklook preview the model page.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;L&lt;/kbd&gt; to view the unabridged model description as large type.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;C&lt;/kbd&gt; to copy the model name.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to pull `model:latest` from registry.
- &lt;kbd&gt;⌥&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to inspect available versions of the model.

### Model Versions

![Ollama model versions](images/preview5.png)

Type to match versions based on your query.  
- &lt;kbd&gt;↩&lt;/kbd&gt; to open the model page.
- &lt;kbd&gt;⇧&lt;/kbd&gt; to quicklook preview the model page.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;C&lt;/kbd&gt; to copy the model name.
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to pull `model:version` from registry.

### Pulling Models

![Ollama pull progress](images/preview6.png)
- &lt;kbd&gt;⌘&lt;/kbd&gt;&lt;kbd&gt;↩&lt;/kbd&gt; to cancel the download.


---

## Dependencies

1. [Ollama macOS app](https://ollama.com/download)
2. Xcode Command Line Tools (recommended)
* `xcode-select --install`

---


__Links:__  
* [ollama.com](https://ollama.com)
* [Ollama Github FAQ](https://github.com/ollama/ollama/blob/main/docs/faq.md)

---

Created by [Patrick Sy](https://github.com/zeitlings) | [Visit on Github](https://github.com/zeitlings/alfred-ollama)</string>
	<key>uidata</key>
	<dict>
		<key>08CD3A9B-E5F0-4F09-8B16-BF8E6706F3E9</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>625</real>
		</dict>
		<key>0B1BBCDA-9820-4ACE-A058-AAE0624D0D3D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>0CF96764-912B-459F-A35F-D34F279EBC2E</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>995</real>
		</dict>
		<key>177AC84D-FD49-40B5-A3B0-451887A21EA4</key>
		<dict>
			<key>note</key>
			<string>remove</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>1D9DCD60-2505-442D-9CAA-76E468676B67</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>1EB91DCF-DB20-4DAC-9793-00D281261D7B</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>25974AD9-E0AB-486C-AEAD-D67EE9FD2D52</key>
		<dict>
			<key>note</key>
			<string>killall</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>820</real>
		</dict>
		<key>4EBB4EE5-517C-41B1-B56A-38C1015156B6</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>6B94AA8F-BA22-455B-AA06-6F30F453B8A5</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>7A208A99-2801-453C-A16D-C36894B378D1</key>
		<dict>
			<key>note</key>
			<string>unload</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>965</real>
		</dict>
		<key>7CE53231-C334-448E-AC34-33DCB2DBA5B5</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>7D1D7989-523F-45CA-A25E-CBFDA2471974</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>8058801E-523E-4EC8-9951-A04EF5ADE061</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>8CD2D79F-5B38-4D5F-9898-6D6EF63CCD48</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9763AA08-95C1-44A1-8333-FDC07FBE1594</key>
		<dict>
			<key>note</key>
			<string>pull</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A19BD909-5D69-4EFF-BBD4-53C420953E20</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>AA6EDEAA-7030-46E1-B9B6-516DB0DB0EB3</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>C1318AE2-21C9-4DD9-BC02-034517E4412D</key>
		<dict>
			<key>note</key>
			<string>start</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>CEEB23FD-3552-498B-99AF-90776CAF0C05</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>D4B35AFE-480B-4AF6-8EB0-D103EC4FCA7B</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D4B3A07F-B949-44A7-8A76-9D7A3B10A224</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E06C9018-0F20-4D97-8727-01B8C353E562</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>E1A4CCE8-E134-44A3-B097-917005741A24</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>595</real>
		</dict>
		<key>E23B15B5-57BF-4670-BD8E-B23FAA38768C</key>
		<dict>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>E29321E4-9F9B-4728-A7E7-95BF3A410E75</key>
		<dict>
			<key>note</key>
			<string>quit</string>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>E64D5D9E-6D00-4763-BB53-AB84F42CD78E</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>FF4B9971-0A0C-41A2-BB53-83A4D210134D</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ollama</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>11434</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Port</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>port</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/zeitlings/alfred-ollama</string>
</dict>
</plist>
